<main role="main" id="main" class="flex-grow-1 overflow-auto">
    <div class="container-fluid">
        <form class="mt-4" id="weather-form" novalidate>
            <div class="row justify-content-sm-center mb-4">
                <div class="col-lg-6 col-md-6">
                    <div class="row justify-content-sm-center">
                        <div class="col-9 form-group">
                            <input type="text" class="form-control" id="address-text" placeholder="Address" autocomplete="off" required>
                            <div class="invalid-feedback" id="address-feedback"></div>
                        </div>
                        <div class="col-3 pl-0">
                            <button type="submit" class="btn btn-secondary" id="search-button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row justify-content-sm-center mt-3 mb-5" id="todays-card">
        </div>
        <script id="todays-card-template" type="text/x-handlebars-template">
            <div class="col-lg-6 col-md-6 todays-col">
                <div class="card">
                    \{{#with data.[0]}}
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-9 float-left"><span class="todays-highlight">\{{../location}}</span></div>
                            <div class="col-3 float-right text-right pl-0">
                                <span class="todays-highlight nowrap temp mr-1">\{{temp}}</span>
                                <button class="todays-temp-unit-button celsius-button text-right" id="celsius-button">°C</button>
                                <sup class="todays-highlight-unit-separator noconversion"> | </sup>
                                <button class="todays-temp-unit-button fahrenheight-button text-left" id="fahrenheight-button">°F</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7 float-left second-row"><span>\{{get-location-current-date}}</span></div>
                            <div class="col-5 float-right text-right pl-0 second-row">
                                <span>Feels like </span>
                                <span class="temp">\{{feels_like}}</span>
                                <sup class="todays-temp-unit-symbol"> </sup>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-sm-center">
                            <div class="col-lg-6">
                                <div class="card border-0">
                                    <div class="card-body pt-0 pl-0 right-border">
                                        <p class="card-text"><img src="\{{#get-forecast-image}}\{{weather_code}}\{{/get-forecast-image}}" class="card-icons"><span>\{{weather_description}}</span></p>
                                        <p class="card-text"><img src="../img/icons/umbrella.png" class="card-icons"><span>\{{chance_of_rain}} precipitation</span></p>
                                        <p class="card-text"><img src="../img/icons/humidity.png" class="card-icons"><span>\{{humidity}} humidity</span></p>
                                        <p class="card-text"><img src="../img/icons/wind.png" class="card-icons">
                                            <span id="wind-speed">\{{wind_speed}}</span><span id="wind-speed-unit"> </span><span>, \{{wind_direction}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card border-0">
                                    <div class="card-body pt-0 pl-0 pb-0">
                                        <p class="card-text"><img src="../img/icons/temp-high.png" class="card-icons">
                                            <span class="temp">\{{temp_high}}</span>
                                            <sup class="todays-temp-unit-symbol"> </sup>
                                            <span> high</span>
                                        </p>
                                        <p class="card-text"><img src="../img/icons/temp-low.png" class="card-icons">
                                            <span class="temp">\{{temp_low}}</span>
                                            <sup class="todays-temp-unit-symbol"> </sup>
                                            <span> low</span>
                                        </p>
                                        <p class="card-text"><img src="../img/icons/sunrise.png" class="card-icons"><span>\{{sunrise}}</span></p>
                                        <p class="card-text"><img src="../img/icons/sunset.png" class="card-icons"><span>\{{sunset}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    \{{/with}}
                </div>
            </div>
        </script>

        <div class="row" id="daily_cards">
        </div>
        <script id="daily-card-template" type="text/x-handlebars-template">
            \{{#each data}}
                \{{#unless @first}}
                <div class="col-lg col-md-4 daily-col">
                    <div class="card mb-3">
                        <div class="card-header"><p>\{{#format-date-short}}\{{date}}\{{/format-date-short}}</p></div>
                        <div class="card-body pb-1">
                            <p>                                
                                <img src="\{{#get-forecast-image}}\{{weather_code}}\{{/get-forecast-image}}" class="card-icons" /><span id="day-\{{@index}}-temp" class="temp medium">\{{temp}}</span><sup class="temp-unit-symbol medium"> </sup><span> feels like </span>
                                <span id="day-\{{@index}}-feels_like" class="temp">\{{feels_like}}</span><sup class="temp-unit-symbol"> </sup>
                            </p>
                            <p><img src="../img/icons/umbrella.png" class="card-icons" /><span>\{{chance_of_rain}} precipitation</span></p>
                            <p><img src="../img/icons/humidity.png" class="card-icons" /><span>\{{humidity}} humidity</span></p>
                        </div>
                    </div>
                </div>
                \{{/unless}}
            \{{/each}}
        </script>
</main>
<script src="/js/app.js"></script>